<%= simple_form_for( company_avatar,
                    :html => {:id => "fileupload"},
                    :url => url_for(:action => 'create', :controller => 'company_avatars'),
                    :method => :post ) do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">

    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
    <div class="row fileupload-buttonbar">
        <!-- The fileinput-button span is used to style the file input field as button -->
        <span class="btn btn-success fileinput-button">
          <i class="icon-plus icon-white"></i>
          <%= f.file_field :avatar %>
        </span>
        <!-- The global progress bar -->
        <div class="progress progress-success progress-striped active fade">
          <div class="bar" style="width:0%;"></div>
        </div>
   </div>
    <!-- The loading indicator is shown during image processing -->
    <div class="fileupload-loading"></div>
    <br>
    <!-- The table listing the files available for upload/download -->
    <table class="row table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
    </table>

  </div>
<% end %>

<script>
    var fileUploadErrors = {
        maxFileSize: "<%= t('views.company_avatar.upload.max_file_size') %>",
        minFileSize: "<%= t('views.company_avatar.upload.min_file_size')%>",
        acceptFileTypes: "<%= t('views.company_avatar.upload.accept_file_types')%>",
        maxNumberOfFiles: "<%= t('views.company_avatar.upload.max_number_of_files')%>",
        uploadedBytes: "<%= t('views.company_avatar.upload.uploaded_bytes')%>",
        emptyResult: "<%= t('views.company_avatar.upload.empty_result')%>"
    };
</script>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  <tr class="template-upload fade">
    <td class="preview"><span class="fade"></span></td>
    <td class="name"><span>{%=file.name%}</span></td>
    <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
    {% if (file.error) { %}
    <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
    {% } else if (o.files.valid && !i) { %}
    <td>
      <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
    </td>
    <td class="start">{% if (!o.options.autoUpload) { %}
      <button class="btn btn-primary">
        <i class="icon-upload icon-white"></i>
      </button>
      {% } %}</td>
    {% } else { %}
    <td colspan="2"></td>
    {% } %}
    <td class="cancel">{% if (!i) { %}
      <button class="btn btn-warning">
        <i class="icon-ban-circle icon-white"></i>
      </button>
      {% } %}</td>
  </tr>
  {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  <tr class="template-download fade">
    {% if (file.error) { %}
    <td></td>
    <td class="name"><span>{%=file.name%}</span></td>
    <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
    <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
    {% } else { %}
    {%
        ProtoSupport.setCompanyAvatarOnCustomer(file.id);
    %}
    <td class="preview">{% if (file.thumbnail_url) { %}
      <img src="{%=file.thumbnail_url%}">
      {% } %}</td>
    <td class="name">
      <i class="icon-download"></i>
      <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">
        {%=file.name%}
      </a>
    </td>
    <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
    <td colspan="2"></td>
    {% } %}
    <td class="delete">
      <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
        <i class="icon-trash icon-white"></i>
      </button>
    </td>
  </tr>
  {% } %}
</script>

<script type="text/javascript">
    ProtoSupport.addCompanyAvatarFileUploadSupport();
    <%
    company_avatar_id = flash[:upload] || company_avatar.id
    if company_avatar_id
    %>
        ProtoSupport.setCompanyAvatarOnCustomer( <%=company_avatar_id%> );
        ProtoSupport.listExistingUpload( <%=company_avatar_id%> );
    <% end %>
</script>
