<div id="locationfinders-app" class="accordion" data-ng-controller="LocationFindersCtrl" data-ng-init="init()">
  <div class="accordion-group">
    <div class="accordion-heading" data-ng-class="{true: 'loading', false:'loading'}[running]">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="locationfinders-app" href="#find-location">
        <%=t 'views.map.find_location'%>
        <i class="icon-black" data-ng-class="{true: 'icon-repeat',false: ''}[running]"></i>
      </a>
    </div>
    <div id="find-location" class="accordion-body collapse in">
      <div class="accordion-inner">
        <div>
          <%= simple_form_for(Location.new, :url => '#') do |f| %>
              <% l = Location.name.downcase %>
              <%= f.input :street, label: t('views.street'), input_html: { 'data-ng-model' => "#{l}.street" } %>
              <%= f.input :zip, label: t('views.zip'), input_html: { 'data-ng-model' => "#{l}.zip"}  %>
              <%= f.input :city, label: t('views.city'), input_html: { 'data-ng-model' => "#{l}.city"} %>
              <a data-toggle="collapse" data-target="#country">
                <%=t 'views.map.choose_country'%>
              </a>
              <div id="country" class="collapse">
                <%= f.input :country, priority: %w{Austria}, collection: { Austria: 'at', Germany: 'de'}, label: t('views.country'), input_html: {'data-ng-model' => "#{l}.country"} %>
              </div>
              <div>{{street}}</div>
              <%= button_tag(type: 'button', class: 'btn btn-primary', 'data-ng-click' => 'doFind();') do %>
                  <i class="icon-white {{lastQualityClass}}"></i>&nbsp;<%=I18n.t('views.map.location.find')%>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
