<div id="expanders-app" data-ng-controller="ExpandersCtrl">
  <button type="button" class="btn {{state}}" data-ng-click="btnClicked()">
    <span class="icon-list"></span>
  </button>
</div>
<div id="map-app" data-ng-controller="OLMapCtrl" data-ng-init="init()">
  <% if has_local_assign(local_assigns,:options) %>
      <input type="text" id="<%=options[:id]%>" name="<%=options[:name]%>" data-ng-model="currentLatLngAsString" style="display:none;">
  <% end %>
</div>
<div id="map-tools-perspective">
  <div id="map-tools">
    <div id="map-tools-inner">
      <div id="tools-app">
        <div data-ng-controller="ToolsCtrl" data-filter="<%=get_option(local_assigns,:tools_filter) || '{}'%>">
          <button data-ng-repeat="tool in tools | filter:standalone" type="button" class="btn btn-primary" data-ng-click="toolClicked()">
            <i class="{{tool.icon}} icon-white" title="{{tool.label}}"></i>
          </button>
          <div class="btn-group btn-group-vertical" data-toggle="buttons-checkbox">
            <button data-ng-repeat="tool in tools | filter:group" type="button" class="btn btn-primary {{tool.active}}" data-ng-click="toolPicked()">
              <i class="{{tool.icon}} icon-white" title="{{tool.label}}"></i>
            </button>
          </div>
        </div>
      </div>
      <div id="layers-app" class="accordion" data-ng-controller="LayerListCtrl" data-ng-init="init()" data-filter="<%=get_option(local_assigns,:layers_filter) || '{}'%>">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="layer-app" href="#base-layers">
              <%=t 'views.map.base_layers'%>
            </a>
          </div>
          <div id="base-layers" class="accordion-body collapse in">
            <div class="accordion-inner">
              <div data-ng-repeat="layer in layers | filter:filterBase">
                <div class="base-layer switch-mini" data-on="success" data-off="danger" data-add-bootstrap-radio-switches>
                  <input id="{{layer.id}}" type="radio" name="base-layer" value="{{layer.name}}" checked="{{layer.checked}}">
                </div>
                {{layer.label}}<br>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-group" ng-show="hasVectorLayers" data-has-vector-layers>
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="layer-app" href="#wfs-layers">
              <%=t 'views.map.vector_layers'%>
            </a>
          </div>
          <div id="wfs-layers" class="accordion-body collapse in">
            <div class="accordion-inner">
              <div data-ng-repeat="vectorLayer in layers | filter:filterWFS">
                <div class="wfs-layer switch-mini" data-on="success" data-off="danger" data-add-bootstrap-checkbox-switches>
                  <input id="{{vectorLayer.id}}" type="checkbox" name="wfs-layer" value="{{vectorLayer.name}}">
                </div>
                {{vectorLayer.label}}<br>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="locationfinders-app">
        <div data-ng-controller="LocationFindersCtrl" data-ng-init="init()">
          <%= simple_form_for(Location.new, :url => '#') do |f| %>
              <% l = Location.name.downcase %>
              <%= f.input :street, input_html: { 'ng-model' => "#{l}.street" } %>
              <%= f.input :zip, input_html: { 'ng-model' => "#{l}.zip"}  %>
              <%= f.input :city, input_html: { 'ng-model' => "#{l}.city"} %>
              <%= f.input :country, iso_codes: true, input_html: {'ng-model' => "#{l}.country"} %>
              <div>{{street}}</div>
              <%= button_tag(type: 'button', class: 'btn btn-primary', 'ng-click' => 'doFind();') do %>
                  <i class="icon-white {{lastQualityClass}}"></i>&nbsp;<%=I18n.t('views.map.location.find')%>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% if has_local_assign(local_assigns,:options) %>
    <%= javascript_tag "var currentPoint = '#{options[:value]}';"%>
<% end %>