<div id="expanders-app" data-ng-controller="ExpandersCtrl">
  <button type="button" class="btn {{state}}" data-ng-click="btnClicked()">
    <span class="icon-list"></span>
  </button>
</div>
<div id="map-app" data-ng-controller="OLMapCtrl" data-ng-init="init()">
  <% if has_local_assign(local_assigns,:options) %>
      <input type="text" id="<%=options[:id]%>" name="<%=options[:name]%>" data-ng-model="currentLatLngAsString" style="display:none;">
  <% end %>
</div>
<div id="map-tools-perspective">
  <div id="map-tools">
    <div id="map-tools-inner">
      <!-- tools partial -->
      <%= render :partial => 'shared/tools_app', :locals => local_assigns%>
      <!-- layers partial -->
      <%= render :partial => 'shared/layers_app', :locals => local_assigns%>
      <!-- location finders partial -->
      <% if get_option(local_assigns,:toggle_locationfinders) %>
        <%= render :partial => 'shared/locationfinders_app', :locals => local_assigns%>
      <% end %>
      <!-- result partial -->
      <% if get_option(local_assigns,:toggle_queryresults) %>
        <%= render :partial => 'shared/queryresults_app', :locals => local_assigns%>
      <% end %>
    </div>
  </div>
</div>
<% if has_local_assign(local_assigns,:options) %>
    <%= javascript_tag "var currentPoint = '#{options[:value]}';"%>
<% end %>