<div class="thumbnail customer">
  <div class="pic">
      <%= get_avatar_img(customer,:thumb) %>
  </div>
  <h3><%= customer.name %></h3>
  <table>
    <tr>
      <td colspan="2"><%= customer.street %></td>
    </tr>
    <tr>
      <td><%= customer.zip %></td>
      <td><%= customer.city %></td>
    </tr>
  </table>
  <%= link_to "Show", customer, :class => "btn" %>
  <%= link_to "Edit", edit_customer_path(customer), :class => "btn" %>
  <%= link_to "Destroy", customer, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-link destroy" %>
</div>