<div class="pic">
  <%= get_avatar_img(customer,:original) %>
</div>
<h3><%= customer.name %></h3>
<table>
  <tr>
    <td colspan="2"><%= customer.street %></td>
  </tr>
  <tr>
    <td><%= customer.zip %></td>
    <td><%= customer.city %></td>
  </tr>
</table>