<div class="thumbnail">
  <div class="pic">
      <%= image_tag customer.company_avatar.avatar.url(:thumb) %>
  </div>
  <h3><%= customer.name %></h3>
  <table>
    <tr>
      <td colspan="2"><%= customer.street %></td>
    </tr>
    <tr>
      <td><%= customer.zip %></td>
      <td><%= customer.city %></td>
    </tr>
  </table>
</div>