
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span5">
      <%= render 'form' %>
    </div>
    <div class="span4">
      <!-- company avatar -->
      <% if @customer.company_avatar.nil?
           @customer.company_avatar = CompanyAvatar.new
      end%>
      <%= render :partial => 'company_avatars/form', :locals => { :company_avatar => @customer.company_avatar } %>
      <!-- contacts -->
      <div id="contacts">
        <%= render :partial => 'contacts/pageable_contacts', :locals => { :contacts => @customer.contacts } %>
      </div>
      <%= render :partial => 'contacts/form', :locals => { :contact => @customer.contacts.build } %>
    </div>
  </div>
</div>
<%= link_to 'Show', @customer %> |
<%= link_to 'Back', customers_path %>
