<div class="tabbable">

  <!-- link list -->
  <div class="link-list">
    <%= link_to raw('<i class="icon-file"></i>&nbsp;Show'), @customer, :class => 'btn' %>
    <%= link_to raw('<i class="icon-step-backward"></i>&nbsp;Back'), customers_path, :class => 'btn' %>
  </div>

  <!-- content -->
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#tab1" data-toggle="tab">Customer</a>
    </li>
    <li>
      <a href="#tab2" data-toggle="tab">Avatar</a>
    </li>
    <li>
      <a href="#tab3" data-toggle="tab">Contacts</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <!-- customer data -->
      <%= render 'form' %>
    </div>
    <div class="tab-pane" id="tab2">
      <!-- company avatar -->
      <% if @customer.company_avatar.nil?
           @customer.company_avatar = CompanyAvatar.new
         end %>
      <%= render :partial => 'company_avatars/form', :locals => {:company_avatar => @customer.company_avatar} %>
    </div>
    <div class="tab-pane" id="tab3">
      <!-- contacts -->
      <div id="contacts">
      </div>
      <button class="btn btn-new-contact">New contact</button>
      <%= render :partial => 'contacts/form', :locals => {:contact => @customer.contacts.build} %>
      <%= javascript_tag "ProtoSupport.fetchCustomersContacts('#{customer_contacts_path(@customer)}');" %>
      <%= javascript_tag "ProtoSupport.addNewContactSupport();" %>
    </div>
  </div>
</div>