<p id="notice"><%= notice %></p>

<div class="tabbable">

  <!-- link list -->
  <div class="link-list">
    <%= link_to raw('<i class="icon-edit"></i>&nbsp;Edit'), edit_customer_path(@customer), :class => 'btn' %>
    <%= link_to raw('<i class="icon-step-backward"></i>&nbsp;Back'), customers_path, :class => 'btn' %>
  </div>

  <!-- content -->
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#tab1" data-toggle="tab">Customer</a>
    </li>
    <li>
      <a href="#tab2" data-toggle="tab">Contacts</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
        <%= render :partial => 'customers/customer', :object => @customer, :as => :customer %>
    </div>
    <div class="tab-pane" id="tab2">
      <div id="contacts">
      </div>
      <%= javascript_tag "ProtoSupport.fetchCustomersContacts('#{customer_contacts_path(@customer)}');" %>
      <%= javascript_tag 'ProtoSupport.addAsyncPagination();' %>
    </div>
  </div>
</div>