<tr tabindex="<%= contact.id%>" data-id="<%= contact.id%>"><td><%= contact.id %></td><td><%= contact.name %></td><td><%= contact.phone %></td><td><%= contact.notice %></td>
<% if editable == true %>
<td><%= link_to "Destroy", [contact.customer, contact], :confirm => "Are you sure?", :method => :delete, :class => "btn" %></td>
<%end%></tr>
