<%= link_to "Prototyp1", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
    <%= link_to  t('views.layout.nav.logout'), destroy_user_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li>
    <%= link_to t('views.layout.nav.login'), new_user_session_path %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to t('views.layout.nav.edit_account'), edit_user_registration_path %>
    </li>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to t('views.layout.nav.admin'), users_path %>
      </li>
    <% end %>

    <%= render 'layouts/prototypnav' %>

      <li>
        <form class="navbar-search pull-left" method="GET" action="<%= customers_path%>">
          <input type="text" name="keyword" class="search-query" placeholder="<%=t('views.layout.nav.search')%>">
        </form>
      </li>
  <% else %>
    <li>
    <%= link_to t('views.layout.nav.sign_up'), new_user_registration_path %>
    </li>
  <% end %>
</ul>
